{% extends 'MyProjectMainBundle::layout.html.twig' %}
{%block title%}Контакты{%endblock%}
{% block body %}
<div>
    <table>
        <tr><td>
   Контакт
 </td></tr>
    <tr><td>    
ул. Маршала Конева, 21
</td></tr>
    <tr><td>  
Харьков
</td></tr>
    <tr><td>  
61001
</td></tr>
    <tr><td>  
Украина
</td></tr>
    <tr><td>  
 	 (057) 715-69-26, (057) 758-99-71
 	 (050) 731-61-12, (096) 524-15-93
         </td></tr>
 
</table>
</div>
{% endblock %}